<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Abdellah Massir</h1>
        <h3>Passionate about digital technologies, I like to design and develop innovative solutions.</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="//linkedin.com/in/abdellah-massir-411376302/" target="_blank" class="">
            <img src="linkedin.png" width="24" height="24" class="rounded-circle me-2">
        </a>
        <a href="//github.com/amassir?tab=repositories" target="_blank" class="">
            <img src="github.png" width="24" height="24" class="rounded-circle me-2">
        </a>
    </div>

</div>
