<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Work Experience</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">O365 Project Manager Assistant Internship</h2>
                    <h3 class="text-primary">Solveo Energies</h3>
                    <ul>
                        <li>Developing PowerApps applications and automation with Power Automate.</li>
                        <li>Creating and optimizing SharePoint libraries..</li>
                        <li>Implementing solutions using JSON, REST APIs, and Power FX.</li>
                        <li>Coordinating between technical and functional teams.</li>
                        <li>Writing technical documentation and analysis reports.</li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Academic Experiences</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Web Project at the University of Toulouse</h2>
                    <h3 class="text-primary">Paul Sabatier University</h3>
                    <ul>
                        <li>Development of a web application using Angular, MySQL, and Node.js/Express.</li>
                        <li>Design of a REST API to manage staff roles and skills.</li>
                        <li>Implementation of a semi-automatic staff recommendation system.</li>
                        <li>Clear documentation and use of Git for project management.</li>
                    </ul>
                </div>
                <hr/>
                <div style="text-align: left;">
                    <h2 class="mb-0">Software Project</h2>
                    <h3 class="text-primary">Paul Sabatier University</h3>
                    <ul>
                        <li>Development of an Innovative Web Application: Use of HTML, CSS and JavaScript to create a dynamic and user-friendly user interface.</li>
                        <li>Integration of Domoticz for the remote management and control of home automation devices.</li>
                        <li>Implementation of a database to ensure optimal management of the application data.</li>
                    </ul>
                </div>
                <hr/>
                <div style="text-align: left;">
                    <h2 class="mb-0">Development Project</h2>
                    <h3 class="text-primary">Paul Sabatier University</h3>
                    <ul>
                        <li>Creation of a Chess Game in Java.</li>
                        <li>Use of Object-Oriented Programming (OOP) to model the pieces, the board and the rules of the game. Implementation of the movements of the pieces, checks, castling, and promotion.</li>
                        <li>Rules management and verification of endgame conditions (checkmates).</li>
                        <li>Clear documentation and use of Git for project monitoring.</li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isCertificationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Academic Training</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificationOpen" style="color: white;">></div>
                        <div *ngIf="isCertificationOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h3>L3 MIAGE</h3>
                    <h4 class="mb-0">Paul Sabatier University</h4>
                    <ul>
                        <li>2024-2025</li>
                    </ul>
                </div>
                <hr/>
                <div style="text-align: left;">
                    <h3>L2 MIASHS parcours MIAGE</h3>
                    <h4 class="mb-0">Paul Sabatier University</h4>
                    <ul>
                        <li>2024-2023</li>
                    </ul>
                </div>
                <hr/>
                <div style="text-align: left;">
                    <h3>L1 MIASHS parcours MIAGE</h3>
                    <h4 class="mb-0">Paul Sabatier University</h4>
                    <ul>
                        <li>2023-2022</li>
                    </ul>
                </div>
            </accordion-group>
                
            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Skills</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                        <div *ngIf="isSkillsOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div class="row" style="text-align: left;">
                  <div class="col">
                    <h3>Programming Languages:</h3>
                    <ul>
                      <li>JavaScript</li>
                      <li>TypeScript</li>
                      <li>Python</li>
                      <li>Java</li>
                      <li>C</li>
                    </ul>
                  </div>
                  <div class="col">
                    <h3>Frameworks:</h3>
                    <ul>
                      <li>Angular</li>
                      <li>React</li>
                      <li>Spring Boot</li>
                      <li>API REST</li>
                      <li>Node.JS</li>
                    </ul>
                  </div>
                  <div class="col">
                    <h3>Other Skills:</h3>
                    <ul>
                      <li>Source Control via Git</li>
                      <li>Agile Development</li>
                      <li>Database Manipulation (SQL.PHP)</li>
                    </ul>
                  </div>
                </div>
              </accordion-group>
        </accordion>
    </div>
</div>
