<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="img1.png" alt="profile picture" width="256" height="236" class="rounded-circle">
                <p>Currently a 3rd year MIAGE degree student, I am looking for an internship from 01/04/2025 to 31/08/2025 to put my skills into practice and acquire new knowledge. Passionate about development and data analysis, with a strong team spirit, I would like to join a dynamic team in order to actively contribute to its projects.</p>
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <img src={{featuredProject.pictures[0]}} alt="slide" style="display: block; width: 100%;">

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the portfolio section to learn more!</p>

        </div>
    </div>
</div>
