<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="img1.png" alt="profile picture"  width="215" height="202" class="rounded-circle">
                <p>As a third-year MIAGE (Computer Methods Applied to Business Management) student at the University of Toulouse, I am looking for a work-study program starting in September for my Master's degree. This experience will allow me to put my technical skills and rigor to good use in a professional environment.</p>
            </div>
        </div>
        <!-- Featured Project -->
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
            <h2>Featured Project</h2>
            <h4>{{ featuredProject.name }}</h4>
            </div>
        
            <carousel *ngIf="isBrowser">
            <div *ngFor="let picture of featuredProject.pictures">
                <slide>
                <img [src]="picture" alt="slide" style="display: block; width: 100%;">
                </slide>
            </div>
            </carousel>
        
            <p class="mt-2">{{ featuredProject.summary }}</p>
            <p>
            Visit the portfolio section to learn more!
            <a href="https://appwebprojet.online/home" target="_blank">Check out my app here</a>.
            </p>
        </div>
    </div>
</div>
